*{
  box-sizing: border-box;
}

body{
  background-color: rgb(238, 238, 238);
  overflow-x: hidden;
}
header{
  width: 100%;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 60px;
  gap: 8px;
}
.menu img{
  width: 15px;
}
.menu p{
  padding: 0;
  margin: 0;
}
.header {
  position: relative;
  z-index: 1;
  background-color: white;
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header h1 {
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-menu li {
  color: rgb(128, 128, 128);
  font-weight: 500;
}

.header-menu li:hover {
  color: rgb(57, 57, 57);
  cursor: pointer;
}
/*header end*/
.main-section {
  width: 100%;
  margin: 0;
  padding: 0 !important;
  height: 100% !important;
}
/*hero start*/

.hero {
  position: relative;
  left: 0 ;
  width: 100vw;
  height: 70vh;
  background-image: url(imgs/hero.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 !important;
}

.hero p {
  color: white;
  text-align: center;
  background-color: rgb(54, 190, 131);
  padding: 10px 5px;
  border-radius: 2px;
  font-weight: 500;
  width: fit-content;
  font-size: 1rem;
  margin: 0;
}

.features-container{
  display: flex;
  top: 50px;
  position: relative;
  padding: 0px 60px;
}
.features{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
  gap: 10px;
}
.features p {
  font-size: 14px;
  width: fit-content
  ;
  color: rgb(117, 117, 117);
}
.features h2{
  font-size: 1rem;
}
.features img{
  height: 45px;
  width: 40px;
}
@media screen and (max-width: 568px){
  .hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh !important;
  }

  .hero p{
    font-size: 0.9rem;
  }
  .features-container{
    padding: 10px !important;
  }
  .featuresc p{
    width: 250px;
  }
}
@media screen and (max-width: 992px){
  .hero{
    height: 40vh;
  }
 
  .hero p{
    font-size: 0.9rem;
  }
  .features-container{
    padding: 0px 80px;
  }
}
@media screen and (min-width: 992px){
  .features-container{
    top: 100px;
  }
  .features p{
    font-size: 1.05rem;
    width: 300px
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .hero{
    height: 40vh;
  }
 
  .hero p{
    font-size: 0.9rem;
  }
}


@media  screen and (min-width:568px) and (max-width: 768px) {
  .hero{
    height: 30vh;
  }

  .menu{
    align-items: center;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 568px) {
  .hero p{
    position: absolute;
    top: 3vw;
    left: 7vw;
  }
}
@media screen and (min-width: 768px){
  .header{
    padding: 0px 80px !important;
  }
}
@media  screen and (min-width: 1200px) {
  .hero p{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    padding: 10px 20px;
  }
  .header{
    padding: 0 60px;
  }
  .main-section{
    padding: 0px 60px;
  }
}