body{
  background-color: rgb(238, 238, 238);
}

.header {
  background-color: white;
  height: 100px;
  width: 100vw;
}
.header h1{
  position: relative;
  left: 20px;
}
.menu{
  display: block;
  position: relative;
  align-items: center;
  justify-content: end;
  right: 20px;
  gap: 8px;
}
.menu img{
  width: 15px;
}
.menu p{
  padding: 0;
  margin: 0;
}
.header-nav{
  gap: 15px;
  position: relative;
  overflow: hidden;
}
.header-nav li{
  color: rgb(128, 128, 128);
  font-weight: 500;
}
.header-nav li:hover{
  color: rgb(72, 72, 72);
  cursor: pointer;
}
/*header end*/

/*hero start*/
.hero{
  position: absolute;
  left: 0;
  width: 100vw;
  background-image: url(imgs/hero.jpg);
  background-size: cover;
  height: 30vw;
  display: flex;
}
.hero p{
  color: white;
  text-align: center;
  background-color: rgb(54, 190, 131);
  padding: 10px 5px 10px 5px;
  position: absolute;
  left: 15vw;
  margin-top: 5vw;
  border-radius: 2px;
  font-weight: 500;

}
.percs-container{
  position: relative;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.percs-container img{
  height: 3vw;
}
.percs-container p{
  text-align: center;
}
@media screen and (max-width: 568px){
  .hero{
    align-items: center;
    justify-content: center;
  }
}

@media  screen and (min-width:568px) and (max-width: 768px) {
  .header h1{
    position: absolute;
    left: 10vw;
  }
  .menu{
    align-items: center;
    justify-content: end;
    right: 10vw
  }
  .hero{
    background-image: url(imgs/hero.jpg);
    background-size: cover;
    display: flex;
  }
}
@media  screen and (min-width: 1200px) {
  body{
    margin: 0px 5vw 0px 5vw !important;
  }
  
}